
header nav {
    /* display: inline-block; */
    font-family: "Josefin Sans", serif;
    color: #291B5E;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    top: -5rem;
}

header {
    
    overflow: hidden;
    top: -5rem;
}

.header img {
    float: left;
    margin: 12rem
}


.hero {
    position: relative;
    width: 100%;
}

.hero img {
    width: 100%;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: "Josefin Sans", serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.400);
    /* text-align: center;
    width: 98%;
    margin: 5px; */
    padding: 0.5rem;
    
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 1rem;
    padding: 1rem;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 255, 0.300);
    font-family: "Roboto", serif;
    color: white;
    /* text-align: center;
    margin: 1rem; */
    padding: 1rem;
    max-width: 50%;
    box-sizing: border-box;
}

.hero article img{
    /* width: 200px; */
    float: right;
    margin: 0 0 10px 10px;
}

footer {
    background-color: #F17912;
    font-family: "Josefin Sans", serif;
    text-align: center;
    margin: 1rem;
    padding: 0.1rem;
}

.sociallinks img {
    width: 30px;
}