:root {
    --primary-color: #F1F410;
    --secondary-color: #0592CE;
    --accent-color-1: #291B5E;
    --accent-color-2:#F17912;
    --background-color: #d7d0d0;
    --text-color: #fff;
}

header {
    background-color: var(--background-color);
    margin-bottom: 40px;
    padding: 10px 0;
    font-family: "Josefin Sans", serif;;
    text-align: center;
}

.logo img {
    display: block;
    margin: 10px;
    width: 150px;
}

.links {
    display: inline;
    position: absolute;
    top: 5rem;
    left: 33%;
}

.links a {
    margin: 20px;
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.white-water {
    width: 99%;
    position: absolute;
    top: 15rem;
}

.white-water h1 {
    background-color: #f17a126b;
    font-family: "Josefin Sans", serif;
    text-align: center;
    color: var(--text-color);
    margin: 8px;
    padding: 8px;
    max-width: 100%;
}

div article {
    font-family: "Roboto";
    font-weight: 600;
    color: var(--accent-color-1);
    text-align: center;
    background-color: #0592ce6f;
    position: absolute;
    top: 40rem;
    left: 8rem;
    width: 80%;
}

article img {
    float: right;
    margin: 1rem;
}

.history,
.adventure {
    padding: 20px;
    text-align: center;
}

.image-container {
    overflow: hidden; /* Clear floats */
}

.image-item {
    width: 30%; /* Adjust as needed */
    float: left;
    margin: 1.66%; /* Adjust as needed */
    box-sizing: border-box;
    text-align: center;
}

.image-item img {
    width: 100%;
    height: auto;
    border: 2px solid #000; /* Adds a border to each image */
}

footer {
    font-family: "Josefin Sans", serif;
    background-color: #d7d0d0;
    text-align: center;
    padding: 10px;
}

.social-media a {
    margin: 0 10px;
}

.social-media a img {
    width: 30px;
}
