body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.banner {
    position: relative;
    width: 100%; height: auto;
    text-align: center;
}
.banner img {
    width: 100%;
    height: auto;
    display: block;
} .banner h1, .banner p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Background for better readability */
    padding: 10px;
}
.banner h1 {
    top: 20%;
    font-size: 3em;
}
.banner p {
    top: 40%;
    font-size: 1.2em;
}

.history,
.adventure {
    padding: 20px;
    text-align: center;
}

.image-container {
    overflow: hidden; /* Clear floats */
}

.image-item {
    width: 30%; /* Adjust as needed */
    float: left;
    margin: 1.66%; /* Adjust as needed */
    box-sizing: border-box;
    text-align: center;
}

.image-item img {
    width: 100%;
    height: auto;
    border: 2px solid #000; /* Adds a border to each image */
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px;
}

footer .social-media a {
    margin: 0 10px;
}

footer .social-media a img {
    width: 50px;
}
