header {
    font-family: "Josefin Sans", serif;
    text-align: center;
    overflow: hidden;
}

.header img {
    float: left;
    margin: 0 auto;
}

.nav {
    display: inline-block;
    margin: 10px;
}

.nav {
    display: inline-block;
    margin: 0 10px;
}


.hero {
    position: relative;
}

h1 {
    position: absolute;
    font-family: "Josefin Sans", serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.400);
    text-align: center;
    width: 98%;
    margin: 5px;
    padding: 0.5rem;
    top: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 1rem;
    padding: 1rem;
}

.over-text {
    position: absolute;
    background-color: rgba(0, 0, 255, 0.300);
    font-family: "Roboto", serif;
    color: white;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    padding: 1rem;
    top: 300px;
}

.over-text img{
    width: 200px;
    float: right;
}

footer {
    background-color: #F17912;
    font-family: "Josefin Sans", serif;
    text-align: center;
    margin: 1rem;
    padding: 0.1rem;
}

.sociallinks img {
    width: 30px;
}