:root {
	--primary-color: #F1F410;
	--secondary-color: #0592CE;
	--accent-color-1: #291B5E;
	--accent-color-2:#F17912;
	--background-color: #d7d0d0;
	--text-color: #fff;
}

* {
	box-sizing: border-box;
}

.body {
	display: flex;
	flex-wrap: wrap;
}

.homepage {
    background-color: #d7d0d079;
    font-family: "Josefin Sans", serif, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    overflow: hidden;
    width: 100%;
}

.homepage nav  a {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
	font-weight: bold;
}

.homepage aside {
    position: absolute;
    top: 55rem;
    right: 6%;
}

.homepage aside button {
    font-family: "Josefin Sans", serif;;
    color: #ffffff;
    background-color: #f17a12b9;
    border: 2px double #000000;
    height: 40px;
    width: 10rem;
}

.homepage banner {
    background-color: #fff;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.banner-1 {
    font-family: "Roboto", serif;
    font-weight: 500;
    color: var(--accent-color-1);
    float: left;
    width: 250px;
    margin: 1rem;
    text-align: center;
}

.banner-1 .p-1, .p-2, .p-3 {
    margin-left: 12rem;
    width: 17rem;
}

.banner-1 img {
    width: 250px;
    height: 250px;
    border: 3px solid #2a1b5eb8;
    border-radius: 5rem; 
    margin-left: 12rem;
}

.homepage history img {
    margin: 2rem 2rem 1rem;
    
}

.history-aside {
    background-color: #f0f41096;
    border: 5px double #291B5E;
    position: absolute;
    top: 86rem;
    float: right;
    right: 50px;
    width: 40rem;
    padding: 0.5rem;
    height: 15rem;
}

.history-aside h2 {
    font-family: "Josefin Sans", serif;
    color: #291B5E;
    margin: 1rem 3rem 1rem;
}

.history-aside p {
    font-family: "Roboto", serif;
    color: black;
    font-weight: 600;
    margin: 0rem 3rem 1rem;
}

.history-aside button {
    font-family: "Josefin Sans", serif;;
    color: #ffffff;
    background-color: var(--secondary-color);
    margin: 0 3rem 1rem;
    height: 40px;
    width: 10rem;
}

.header-container {
    background-color: var(--background-color);
    padding: 20px;
    display: flex;
    align-items: center;
	justify-content: space-evenly;
	margin-bottom: .5rem;
}

.header-container div {
    flex: 0;
}

.header-container img {
    width: 100px;
    height: auto;
	margin-left: 5rem;
}

.header-container nav {
    flex: 2;
    text-align: center;
}

.header-container nav a {
    margin: 0 40px;
    text-decoration: none;
	font-family: "Josefin Sans", serif;
    color: #291B5E;
    font-weight: bold;
}

.header-container nav a:hover {
    color: tomato;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	font-family: "Josefin Sans", serif;
    color: white;
    text-align: center;
}

.overlay h1 {
    font-size: 2em;
    margin: .5em;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
}

.center-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.center-content article {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 800px; 
}

.center-content img {
    margin-right: 20px; 
    width: 120px; 
    height: 100px;
}

.center-content p {
    margin: 0;
    max-width: 600px; 
}

section {
	font-family: "Roboto", serif;
	font-weight: 500;
	text-align: center;
	background-color: var(--background-color);
	margin: 0 20px 30px;
	padding: 1rem;
}

section h2 {
	font-family: "Josefin Sans", serif;
	color: var(--accent-color-1);
	text-align: center;
}

.history p {
	font-family: "Roboto", serif;
	font-weight: 500;
	text-align: center;
	background-color: var(--background-color);
	margin: 0 20px 30px;
	padding: 1rem;
}

.image-container {
	width: 100%;
	max-width: 1150px;
	overflow: hidden;
	margin:auto; 
}

.image-item {
	float: left;
	width: 250px;
	margin: 1rem;
	text-align: center;
}

.image-item img {
	width: 250px;
	height: 200px;
}

.image-container p {
	font-family: "Roboto", serif;
	color: #291B5E;
	font-weight: 500;
	margin: 0 0 20px;
}

iframe {
	border: none;
	width: 100%;
	height: 450px;
}

.employee-profiles {
	display: flex;
	justify-content: space-around;
}

.employee-profiles h2 {
	
}

.employee {
	text-align: center;
}

.contact-form {
	margin-top: 20px;
}

.contact-form form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: auto;
}

.contact-form label {
	margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
	margin-bottom: 15px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.contact-form button {
	padding: 10px;
	margin: 0 0 1rem;
	background-color: #007BFF;
	color: #d7d0d0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.contact-form button:hover {
	background-color: green;
}

footer {
	font-family: "Josefin Sans", serif;
	background-color: #d7d0d0;
	text-align: center;
	margin: 0;
	padding: 10px;
	width: 100%;
}

.social-media a {
	margin: 0 10px;
}

.social-media a img {
	width: 30px;
}

figure {
	display: inline-block;
	margin: 1rem;
	text-align: center;
}

figcaption {
	font-family: "Roboto", serif;
	font-size: 1.3rem;
	font-weight: 600;
	color: #291B5E;
	padding: 1rem;
	background-color: #0592ce6f;
}

.social-media {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}
