:root {
	--primary-color: #F1F410;
	--secondary-color: #0592CE;
	--accent-color-1: #291B5E;
	--accent-color-2:#F17912;
	--background-color: #d7d0d0;
	--text-color: #fff;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-wrap: wrap;
}

.header-container {
	background-color: var(--background-color);
	font-family: "Josefin Sans", serif;
	display: flex;
	flex-flow: column wrap;
}

header img {
	margin: 1rem 5rem;
	width: 150px;
	height: auto;
}

.links-list a:hover {
	text-decoration: none;
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
} 

.hero img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}

.white-water {
	width: 99%;
	position: absolute;
	top: 20rem;
	margin: auto;
}

.white-water h1 {
	background-color: #f17a126b;
	font-family: "Josefin Sans", serif;
	text-align: center;
	color: var(--text-color);
	margin: 8px;
	padding: 8px;
	max-width: 100%;
}

div article {
	font-family: "Roboto";
	font-weight: 600;
	color: var(--accent-color-1);
	text-align: center;
	background-color: #0592ce6f;
	position: absolute;
	top: 30rem;
	left: 8rem;
	width: 80%;
}

article img {
	float: right;
	margin: 1rem;
}

section {
	font-family: "Roboto", serif;
	font-weight: 500;
	text-align: center;
	background-color: var(--background-color);
	margin: 0 20px 30px;
	padding: 1rem;
}

section h2 {
	font-family: "Josefin Sans", serif;
	color: var(--accent-color-1);
	text-align: center;
}

.history p {
	font-family: "Roboto", serif;
	font-weight: 500;
	text-align: center;
	background-color: var(--background-color);
	margin: 0 20px 30px;
	padding: 1rem;
}

.image-container {
	width: 100%;
	max-width: 1150px;
	overflow: hidden;
	margin:auto; 
}

.image-item {
	float: left;
	width: 250px;
	margin: 1rem;
	text-align: center;
}

.image-item img {
	width: 250px;
	height: 200px;
}

.image-container p {
	font-family: "Roboto", serif;
	color: #291B5E;
	font-weight: 500;
	margin: 0 0 20px;
}

iframe {
	border: none;
	width: 100%;
	height: 450px;
}

.employee-profiles {
	display: flex;
	justify-content: space-around;
}

.employee {
	text-align: center;
}

.contact-form {
	margin-top: 20px;
}

.contact-form form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: auto;
}

.contact-form label {
	margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
	margin-bottom: 15px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.contact-form button {
	padding: 10px;
	margin: 0 0 1rem;
	background-color: #007BFF;
	color: #d7d0d0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.contact-form button:hover {
	background-color: green;
}

footer {
	font-family: "Josefin Sans", serif;
	background-color: #d7d0d0;
	text-align: center;
	margin: 0;
	padding: 10px;
}

.social-media a {
	margin: 0 10px;
}

.social-media a img {
	width: 30px;
}

figure {
	display: inline-block;
	margin: 1rem;
	text-align: center;
}

figcaption {
	font-family: "Roboto", serif;
	font-size: 1.3rem;
	font-weight: 600;
	color: #291B5E;
	padding: 1rem;
	background-color: #0592ce6f;
}

.social-media {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}
