* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", "Roboto", serif;
    font-size: 1.2rem;
    color: rgb(76, 0, 255);
    background-color: lightgray;
}

header {
    margin: 0 auto;
    width: 700px;
}

h1 {
    margin: 1rem;
    color: rgb(0, 0, 255);
    font-family: "Teko", "Roboto"; 
    font-size: 2rem;
    text-align: center;
}

form {
    width: 700px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 1rem;
    background-color: aliceblue;
    display: grid;
}

fieldset {
    display: grid;
    grip-gap: .5rem;
    margin: 1rem;
    border: 2px solid black;
    padding: 1.5rem;
}

legend {
    padding: 1.5rem;
    font-size: 2rem;
}

label, input, button, select, textarea {
    color: black;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 2rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
