.callout {
	max-width: 400px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 15px;
    background-color: rgb(103, 103, 250);
    color: rgb(255, 255, 255);
}

.callout img {
	float: right;
    margin: 0 0 1em 1em;
    border: 1px solid black;
    padding: 0.25em;
    box-shadow: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
}

blockquote {
	margin: 0px 10px 0px;
}

cite {
	display: block;
    border-top: 1px;
    padding-top: 1px;
    text-align: right;
    font-size: smaller;
}